NEXT_PUBLIC_SITE_URL=https://observatory.campusloop.space
KEYSTATIC_STORAGE=local
KEYSTATIC_GITHUB_REPO=SH20RAJ/digital-observatory
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
NEXT_PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
INDEXNOW_KEY=
INDEXNOW_HOST=observatory.campusloop.space
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
VERCEL_TOKEN=